<div id="dashboard_content">
<% num = 0 %>
<% items = Item.skip((@page-1) * @items_per_page).limit(@items_per_page) %>
<% items.each do |item| %>
  <% if (num % @items_per_row) == 0 %>
    <% if num == 0 %>
      <div class="row" id="first_row">
    <% else %>
      <div class="row">
    <% end %>
        <div class="col-md-12">
  <% end %>
    <% if num == 0 %>
          <div class="thumbnail" id="item0">
    <% else %>
          <div class="thumbnail">
    <% end %>
            <% if item.thumb_exists? %>
              <% thumb_file = "/" + item.thumb_file %>
              <img src=<%= thumb_file %>/>
            <% end %>
            <div class="Caption">
              <% item.tags.each do |tag| %>
                <span class="item-tag"><%= tag.to_s %></span>
              <% end %>
            </div>
          </div>
  <% if (num % @items_per_row) == (@items_per_row-1) %>
      </div>
    </div>
  <% end %>
  <% num += 1 %>
<% end %>
</div>

