<div id="dashboard_content">
<% num = 0 %>
<% @items.each do |item| %>
  <% if (num % @items_per_row) == 0 %>
    <% if num == 0 %>
      <div class="row" id="first_row">
    <% else %>
      <div class="row">
    <% end %>
        <div class="col-md-12">
  <% end %>
    <% if num == 0 %>
          <div class="thumbnail" id="item0">
    <% else %>
          <div class="thumbnail">
    <% end %>
            <% thumb_file = "/" + item.thumb_file %>
            <img src=<%= thumb_file %>/>
            <div class="Caption"><%= item.name %></div>
          </div>
  <% if (num % @items_per_row) == (@items_per_row-1) %>
      </div>
    </div>
  <% end %>
  <% num += 1 %>
<% end %>
</div>

