<% content_for :ordnung_right do %>
  <h2>Tags</h2>
  <% Tag.all.each do |tag| %>
    <span class="tag">
    <% if tag.value %>
      <%= "#{tag.name}=#{tag.value}" %>
    <% else %>
      <%= "#{tag.name}" %>
    <% end %>
    </span>
  <% end %>
<% end %>
