!!!
.container-fluid
  %div.col-md-12
    %div.panel.panel-default.col-md-12
      %div.panel-heading
        %h3.panel-title.title{:align => "left"}
          Ordnung
      %div.panel-body
        #index

%script{ src: "/assets/jquery/js/jquery-3.1.1.min.js"}
%script{ src: "/assets/react/js/react.min.js"}
%script{ src: "/assets/babel-standalone/js/babel.min.js"}
%script{:type => "text/babel", :src => "jsx/entry.jsx"}
%script{:type => "text/babel", :src => "jsx/index.jsx"}
%script{ src: "/assets/bootstrap/js/bootstrap.min.js"}
%script{ src: "/assets/bootstrap_table/js/bootstrap-table.min.js"}
