!!!
.container-fluid
  %div.col-md-12
    %div.panel.panel-default.col-md-12
      %div.panel-heading
        %h3.panel-title.title{:align => "left"}
          Ordnung
      %div.panel-body
        #index

%script{ src: "/assets/bootstrap/js/bootstrap.min.js"}
