!!!
%html
  %head
    %link{href: "/assets/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/assets/bootstrap/css/bootstrap-theme.min.css", rel: "stylesheet"}
    %link{href: "/assets/Ordnung/css/ordnung.css", rel: "stylesheet"}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title #{@title}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
  %body
    %nav.navbar.navbar-default.navbar-static-top{:role => 'navigation'}
      .container
        .navbar-header
          %a.navbar-brand{:href => '/'} #{@title}
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.pull-right
            %li
              %a.dropdown-toggle{:role => 'button', :data => {:toggle => 'dropdown'}, :href => '/'}
                Edit
                %span.caret
              %ul.dropdown-menu{:role => 'menu'}
                %li
                  %a{:href => "/import"} Import
                %li
                  %a{:href => "/export"} Export
            %li
              %a.dropdown-toggle{:role => 'button', :href => '/help'}
                Help
    = yield
    :javascript
      $('.collapse').collapse();
