div.chooser {
  width: 800px;
  height: 30px;
  background: grey;
}

div.dirlink {
  float: left;
  padding: 1px 4px 1px 4px;
  margin: 2px 4px 2px 4px;
  border: 1px solid black;
  background: #C0C0C0;
}

div.dirimport {
  float: right;
}

div#directories {
  clear: left;
  width: 800px;
  background: #C0C0C0;
}

div.direntry {
  padding: 4px 0px 0px 4px;
  font-weight: bold;
}

div#files {
  width: 800px;
  background: #a0a0a0;
}

div.file {
  padding: 4px 0px 0px 4px;
  font-style: italic;
}
