html, body {
  height: 100%;
}

body {
  padding: 50px;
}

.row {
}

#ordnung_middle {
  background-color: #c0c0c0;
}

#ordnung_right {
}

.dashboard_header {
  float: left;
  font-size: 200%;
  font-weight: bold;
}

.navigation_glyphs {
  float: right;
}

.zoom_glyph {
  margin: 10px;
  font-size: 1.5em;
}

.page_glyph {
  margin: 10px;
  font-size: 1.5em;
}

.glyph_separator {
  font-size: 1.5em;
  width: 30px;
  height: 10px;
  padding: 0px 20px 0px 20px;
}

.thumbnail {
  float: left;
  border: 5px;
  border-style: solid;
  border-color: white;
  margin: 3px;
  background: #0d8fdb;
  color: white;
  overflow: hidden;
}

.tag {
  font-family: Consolas,monospace;
  border-radius: 5px;
  background: #c0c0c0;
  margin: 1px;
  padding: 1px;
}

.item-tag {
  font-family: Consolas,monospace;
  font-size: 0.8em;
  background: #0c7fab;
  margin: 1px;
  padding: 1px;
}
