html, body {
  height: 100%;
}

body {
  padding: 50px;
}

.row {
}

#ordnung_middle {
  background-color: #c0c0c0;
}

#ordnung_right {
}

.dashboard_header {
  float: left;
  font-size: 200%;
  font-weight: bold;
}

.navigation_glyphs {
  float: right;
}

.zoom_glyph {
  margin: 10px;
  font-size: 1.5em;
}

.page_glyph {
  margin: 10px;
  font-size: 1.5em;
}

.thumbnail {
  float: left;
  border: 5px;
  border-style: solid;
  border-color: white;
  margin: 3px;
  background: #0d8fdb;
  color: white;
  overflow: hidden;
}