<div class="grid_12">
<h1>Choose Directory to add</h1>

<div class="chooser">
<% path = "" %>
<% splitted = @dir.split("/") %>
<% splitted = [""] if splitted.empty? %>
<% splitted.each do |d| %>
<%   path << "/#{d}" unless d.empty? %>
<div class="dirlink">
  <%= link_to (d.empty? ? "/" : d.to_s), { :controller => "directory", :dir => path } %>
</div>
<% end %>

<div class="dirimport">
  <%= button_to "Import", { :controller => "items", :dir => @dir } %>
</div>

</div>


<div id="directories">
<% @directories.sort.each do |d| %>
<div class="direntry">
  <%= link_to d, { :controller => "directory", :dir => File.join(@dir,d) } %>
</div>
<% end %>
</div>

<div id="files">
<% @files.sort.each do |f| %>
<div class="file"><%= f %></div>
<% end %>
</div>

</div>
