header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.ordnung-files {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%
  grid-template-rows: 200px 1fr 100px;
  gap: 10px;
}
.ordnung-header {
  background-color: blue;
  border-width: 5px;
  border: steelblue;
  grid-row: 1;
  grid-column: 1 / max-content;
}
img.header-image {
  border-radius: 8px;
  max-width: 20%;
}
.ordnung-sidebar {
  background-color: green;
  font-size: x-large;
  font-weight: bold;
  grid-column: 1;
  grid-row: 2 / max-content;
}
.ordnung-panel {
  background-color: lightgray;
}
.panel-item {
  background-color: gray;
  border: black;
  border-style: solid;
  border-width: 1px;
  width: 300px;
  height: 300px;
}
.table th, .table td {
  border-top: none !important;
}

.label-yellow {
  background-color: #FFF176;
  color: black;
}

td.summary {
   -ms-word-break: break-all;
   word-break: break-all;

   /* Non standard for webkit */
   word-break: break-word;

   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
